<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="happyPath">
		<classes>
			<class name="org.testing.automation.InstaBugLoginHappyPath" />
		</classes>
	</test> <!-- Test -->
	<test name="negativePath">
		<classes>
			<class name="org.testing.automation.InstaBugLoginNegativePaths" />
		</classes>
	</test> <!-- Test -->
	<test name="alternativePath">
		<classes>
			<class name="org.testing.automation.InstaBugLoginAlternativePaths" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
